{% extends "base.html" %} {% block page_title %} HOME {% endblock page_title %}
{% block javascript %}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="/static/js/typed.min.js"></script>
<script src="/static/js/common.js"></script>
{% endblock javascript %} {% block content %}
<div class="main">
  <section class="section1">
    {% include 'partials/nav.html' %}
    <div class="inner">
      <div class="img_box">
        <div class="wrap">
          <div class="ani">
            <div class="img_wrap">
              <img src="/static/img/sec1_01.png" alt="" />
              <map name="img1">
                <area
                  href="{% url 'about_us:about' %}"
                  shape="poly"
                  coords="168,0,335,98,168,201,0,98"
                />
              </map>
              <div class="box step1">
                <img class="back" src="/static/img/sec1_img1_1.png" alt="" />
                <img
                  class="front"
                  src="/static/img/sec1_img1.png"
                  alt=""
                  usemap="#img1"
                />
              </div>

              <map name="img2">
                <area
                  href="{% url 'environ:env' %}"
                  shape="poly"
                  coords="0,0,75,45,34,71,34,149,141,85,164,99,164,249,0,153"
                />
              </map>
              <div class="box step2">
                <img class="back" src="/static/img/sec1_img2_1.png" alt="" />
                <img
                  class="front"
                  src="/static/img/sec1_img2.png"
                  alt=""
                  usemap="#img2"
                />
              </div>
              <map name="img3">
                <area
                  href="IOT_product.html"
                  shape="poly"
                  coords="0,99,22,85,129,149,129,71,89,45,164,0,164,155,0,249"
                />
              </map>
              <div class="box step3">
                <img class="back" src="/static/img/sec1_img3_1.png" alt="" />
                <img
                  class="front"
                  src="/static/img/sec1_img3.png"
                  alt=""
                  usemap="#img3"
                />
              </div>
            </div>

            <div class="txt about">
              <i></i>
              <div class="txt_wrap">
                <span class="en step1">About US</span>
                <div class="line_box">
                  <span class="ko step1">회사소개<br />포트폴리오</span>
                </div>
              </div>
            </div>
            <div class="txt service">
              <i></i>
              <div class="txt_wrap">
                <div class="line_box">
                  <span class="ko step2">Data<br />Service</span>
                </div>
                <span class="en step2">서비스 소개</span>
              </div>
            </div>
            <div class="txt product">
              <i></i>
              <div class="txt_wrap">
                <span class="en step3">IOT<br />Product</span>
                <div class="line_box">
                  <span class="ko step3">제품소개</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit">
        <div class="wrap">
          <p class="p1">회사 소식과 제품 정보를<br />이메일로 보내드립니다.</p>
          <p class="p2">Sign up to our Newsletter.</p>
          <div class="input">
            <input type="email" placeholder="Your E-mail" /><button
              type="button"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
      <span id="botton_arrow">next page</span>
    </div>
  </section>
  <section class="section2">
    <div class="inner">
      <div class="slide_box">
        <div class="slide_lists">
          <div>
            <img src="/static/img/sec2_01.jpg" alt="" />
          </div>
          <div>
            <img src="/static/img/sec2_01.jpg" alt="" />
          </div>
          <div>
            <img src="/static/img/sec2_01.jpg" alt="" />
          </div>
          <div>
            <img src="/static/img/sec2_01.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    {% include 'partials/footer.html' %}
  </section>
</div>
{% endblock content %}
