{% extends "base.html" %} {% block page_title %} HOME {% endblock page_title %}
{% block javascript %}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="/static/js/typed.min.js"></script>
<script src="/static/js/common.js"></script>
{% endblock javascript %} {% block content %}
<div class="main">
  <section class="section1">{% include 'partials/nav.html' %}</section>
  <section class="section2">{% include 'partials/footer.html' %}</section>
</div>
{% endblock content %}
